
html {
  /* background: linear-gradient(90deg, rgb(118, 213, 253) 0%, rgb(63, 177, 219) 20%, rgb(22, 75, 166) 100%); */
  height: 100%;
}

body {
  margin: 0;
}

/* login */
.view {
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100%;
}

.login-view {
  background-image: url('.././images/resort.jpg');
}

.login-container {
  min-width: 350px;
  max-width: 450px;
  min-height: 170px;
  height: 30vh;
  max-height: 230px;
  border-radius: 25px;
  border: solid rgb(255, 255, 255, 0.1);
  background-color: rgba(254, 253, 255, 0.25);
  backdrop-filter: blur(5px);
  position: absolute;
  transform: translate(-50%, -50%);
  margin: 50vh 50vw 0;
  font-size: 20px;
  color: rgb(30, 74, 120);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.option-container {
  margin-top: 20px;
  width: 65%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.individual-option {
  display: flex;
  align-items: center;
}

.inputs {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  overflow-x:hidden;
}

.inputs input {
  border-radius: 7px;
  border-color: rgba(30, 74, 120, 0.335);
  background-color: rgba(255, 255, 255, 0.6);
}

.input-container {
  max-width: 13vw;
  display: flex;
  margin-top: 10px;
  justify-content: center;
  width: 70%;
  align-items: center;
}

.input-label {
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 5px;
}

.login-feedback {
  margin-top: 10px;
  margin-bottom: 0;
  color: red;
  font-size: 14px;
}

.login-button {
  margin-top: 10px;
  height: 4vh;
  min-height: 25px;
  width: 6vw;
  min-width: 55px;
  background-color: #81ecff2f;
  border-radius: 8px;
}

.active-login:hover {
  background-color: #81ecff;
  cursor: pointer;
}

/* website view */
.website-view {
  background-image: url('.././images/resort-2.jpg');
}

.overlay {
  height: 100%;
  width: 100%;
  backdrop-filter: blur(10px);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.website-nav {
  background-color: rgba(255, 255, 255, 0.455);
  height: 14%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-text-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  height: 100%;
}

.title-container {
  font-size: 20px;
  color: rgba(0, 0, 0, 0.484);
  width: 14%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.toggle-container {
  display: flex;
  width: 25vw;
  height: 60%;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 25px;
  background-color: rgba(255, 255, 255, 0.3);
  min-width: 230px
}

.bookings-button {
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
  width: 45%;
  height: 40px;
  border-radius: 25px;
  border: solid 2px #ffffff00;
}

.selected-booking {
  background-color: #ffffff;
}

.unselected-booking {
  transition: 0.2s;
}

.unselected-booking:hover {
  border: solid 2px #ffffff;
  cursor: pointer;
}

/* Display area */
.display-area {
  width: 100%;
  height: 85%;
}
  
.main-view {
  height: 100%;
  width: 100%;
}

/* Helper classes */
.hidden {
  display: none;
}

.invisible {
  visibility: hidden;
}