
html {
  /* background: linear-gradient(90deg, rgb(118, 213, 253) 0%, rgb(63, 177, 219) 20%, rgb(22, 75, 166) 100%); */
  height: 100%;
}

html::-webkit-scrollbar {
  display: none;
}

body {
  margin: 0;
}

body::-webkit-scrollbar {
  display: none;
}

/* login */
.view {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100%;
}

.login-view {
  background-image: url('.././images/resort.jpg');
}

.login-container {
  min-width: 350px;
  max-width: 450px;
  min-height: 170px;
  height: 30vh;
  max-height: 230px;
  border-radius: 25px;
  border: solid rgb(255, 255, 255, 0.1);
  background-color: rgba(254, 253, 255, 0.25);
  backdrop-filter: blur(5px);
  position: absolute;
  transform: translate(-50%, -50%);
  margin: 50vh 50vw 0;
  font-size: 20px;
  color: rgb(30, 74, 120);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.option-container {
  margin-top: 20px;
  width: 65%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.individual-option {
  display: flex;
  align-items: center;
}

.inputs {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  overflow-x:hidden;
}

.inputs input {
  border-radius: 7px;
  border-color: rgba(30, 74, 120, 0.335);
  background-color: rgba(255, 255, 255, 0.5);
}

.input-container {
  max-width: 13vw;
  display: flex;
  margin-top: 10px;
  justify-content: center;
  width: 70%;
  align-items: center;
}

.input-label {
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 5px;
}

.login-feedback {
  margin-top: 10px;
  margin-bottom: 0;
  color: red;
  font-size: 14px;
}

.login-button {
  margin-top: 10px;
  height: 4vh;
  min-height: 25px;
  width: 6vw;
  min-width: 55px;
  background-color: #81ecff2f;
  border-radius: 8px;
}

.active-login:hover {
  background-color: #81ecff;
  cursor: pointer;
}

/* website view */
.website-view {
  background-image: url('.././images/resort-2.jpg');
}

.overlay {
  height: 100%;
  width: 100%;
  backdrop-filter: blur(10px);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.website-nav {
  background-color: rgba(255, 255, 255, 0.5);
  height: 14%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-text-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 95%;
  height: 100%;
}

.title-container {
  font-size: 20px;
  color: rgba(0, 0, 0, 0.5);
  width: 14%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
}

.title-container p,h1 {
  margin: 0;
}

.toggle-container {
  display: flex;
  width: 25vw;
  height: 60%;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 25px;
  background-color: rgba(255, 255, 255, 0.5);
  min-width: 230px
}

.bookings-button {
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
  width: 45%;
  height: 60%;
  border-radius: 25px;
  border: solid 2px #ffffff00;
}

.selected-booking {
  background-color: #ffffff;
}

.unselected-booking {
  transition: 0.2s;
}

.unselected-booking:hover {
  border: solid 2px #ffffff;
  cursor: pointer;
}

/* Display area */
.display-area {
  width: 100%;
  height: 85%;
}

.main-view {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.list-bookings-ribbon {
  align-items: center;
  margin-top: 10px;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 13%;
  position: relative;
}

.choose-booking-list {
  margin-top: 10px;
  display: flex;
  width: 30vw;
  height: 60%;
  min-height: 25px;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 25px;
  background-color: rgba(255, 255, 255, 0.5);
  min-width: 230px
}

.booking-choice-container {
  margin-top:0;
  width: 80%;
  height: 80%;
  display: flex;
  align-items: center;
}

.list-button {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.9em;
  opacity: 1;
  border-radius: 25px;
  border: solid 2px #ffffff00;
}

.selected-button {
  background-color: rgba(255, 255, 255, 0.7);
}

.unselected-button {
  transition: 0.2s;
}

.unselected-button:hover {
  border: solid 2px #ffffff;
  cursor: pointer;
}

.cost-container {
  position: absolute;
  right: 10px;
  height: 100%;
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.5);
  color: rgba(0, 0, 0, 0.593);
  border-radius: 12px;
}

.total-spend {
  margin:0;
  opacity: 0.85;
  font-size: 1.2em
}

/* Booking list grid */
.display-grid {
  margin-top: 10px;
  width: 100%;
  height: 94%;
  display: flex;
  justify-content: space-evenly;
  overflow-y: scroll;
}

.display-grid::-webkit-scrollbar {
  display: none;
}

.booking-column {
  width: 40vw;
  min-width: 300px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.current-booking-card {
  margin-top: 12px;
  width: 95%;
  min-height: 30vw;
  background-color: rgba(255, 255, 255, 0.10);
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 13px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.card-img-container {
  width: 100%;
  height: 90%;
  overflow: hidden;
  position: relative;
}

.card-img {
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
  transition: 0.2s;
}

.card-info {
  position: absolute;
  top: 0;
  height: 90%;
  width: 90%;
  left: -100%;
  backdrop-filter: blur(9px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: 1s;
  border-radius: 12px;
  border: 2px solid rgba(255, 255, 255, 0.183);
}

.card-info p {
  margin-top: 2px;
  margin-bottom: 0;
  font-size: 1.7vw;
  opacity: 0.4;
}

.display-info {
  left: 0;
}

.display-info:hover {
  cursor: pointer;
}

.current-booking-card:hover .card-img {
  transform: scale(1.03);
}

.current-booking-card:hover {
  cursor: pointer;
}

.current-booking-card-text {
  height: 10%;
  display: flex;
  width: 90%;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  color: rgba(0, 0, 0, 0.6);
}

.current-booking-card-text p {
  margin: 0;
  font-size: 2vw;
  opacity: 0.7;
}

.upcoming-booking {
  color: green;
}

.past-booking {
  color: red;
}

/* New bookings */

.icon {
  min-width: 25px;
  min-height: 25px;
  max-height: 40%;
  transition: 0.4s;
  opacity: 0.6;
}

.icon:hover {
  cursor: pointer;
  opacity: 1;
  transform: translateY(-3px);
}

.new-bookings-ribbon {
  height: 11%;
  width: 95%;
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
}

.new-bookings-ribbon-element {
  margin-top: 20px;
  height: 100%;
  min-width: 250px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 20px;
}

.right-filter-icon-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
  width: 20%;
}

.dropdown {
  max-width: 80%;
  color: rgba(0, 0, 0, 0.5);
}

.filter-label {
  color: rgba(0, 0, 0, 0.5);
}

.new-bookings-display {
  color: rgba(0, 0, 0, 0.45);
  font-size: 1.4vw;
}

.filter-element {
  background-color: rgba(255, 255, 255, 0.477);
  width: 30%;
}

.room-filter-container {
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.filter-dropdown-container {
  height: 100%;
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.date-container {
  display: flex;
  width: 65%;
  height: 100%;
  justify-content: space-evenly;
  align-items: center;
}

#calendar {
  height: 35%;
  width: 55%;
  text-align: center;
  color: rgba(0, 0, 0, 0.479);
}

.search-btn-container {
  height: 25px;
  width: 25px;
  background-color: rgba(255, 255, 255, 0);
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
}

/* Room grid */
.room-card {
  margin-top: 12px;
  width: 95%;
  min-height: 30vw;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 13px;
  border: 2px solid rgba(255, 255, 255, 0.5);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.room-card-text {
  padding: 5px;
  height: 10%;
  display: flex;
  width: 90%;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  color: rgba(0, 0, 0, 0.6);
}

.room-card-text p {
  margin: 0;
  font-size: 2vw;
  opacity: 0.6;
}

.book-btn {
  height: 2vw;
  border-radius: 12px;
  width: 10vw;
  backdrop-filter: blur(5px);
  font-size: 1vw;
  background-color: rgb(21 78 92);
  color: rgba(255, 255, 255, 0.5);
  transition: 0.2s;
}

.book-btn:hover {
  cursor: pointer;
  transform: scale(1.05);
  color: white;
}

.card-img:hover {
  transform: scale(1.03);
  cursor: pointer;
}

/* Helper classes */
.hidden {
  display: none;
}

.invisible {
  visibility: hidden;
}