
html {
  /* background: linear-gradient(90deg, rgb(118, 213, 253) 0%, rgb(63, 177, 219) 20%, rgb(22, 75, 166) 100%); */
  height: 100%;
}

body {
  margin: 0;
}

/* login */

.login-view {
  background-image: url('.././images/resort.jpg');
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100%;
}

.login-container {
  min-width: 350px;
  max-width: 450px;
  min-height: 170px;
  height: 30vh;
  max-height: 230px;
  border-radius: 25px;
  border: solid rgb(255, 255, 255, 0.1);
  background-color: rgba(254, 253, 255, 0.25);
  backdrop-filter: blur(5px);
  position: absolute;
  transform: translate(-50%, -50%);
  margin: 50vh 50vw 0;
  font-size: 20px;
  color: rgb(30, 74, 120);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.option-container {
  margin-top: 20px;
  width: 65%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.individual-option {
  display: flex;
  align-items: center;
}

.inputs {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  overflow-x:hidden;
}

.input-container {
  max-width: 13vw;
  display: flex;
  margin-top: 10px;
  justify-content: center;
  width: 70%;
  align-items: center;
}

.login-container p {
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 5px;
}

.login-button {
  margin-top: 35px;
  height: 4vh;
  min-height: 25px;
  width: 6vw;
  min-width: 55px;
  background-color: #81ecff2f;
  border-radius: 8px;
}

.active-login:hover {
  background-color: #81ecff;
  cursor: pointer;
}